{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://shift-platform-dev-api.global.ssl.fastly.net/testing/v1/carts/173.json_api",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic dGVzdGluZzpNaTlsTW1ZMk1qSTJNMkptT1RVM05ERm1ZelppTVRNMU5HRXdNRFF6TlRJM05tRmxaVE14TW1ZMllUSmxNekE0T0dWaU9HTmtZak5tWVdZMFltWTBNR1l5T0RRM01HVTNNV0V3WkdFeVpHRmhaakJrTjJFMk9HWXdNR001Wm1Wa056ZGxOVFUzWldNell6RmhPVEk0WWpoaU4yUTRaV1JtWldKa01ETTVZV1psWlRKaE1URTFORGcxT1RNM1lqaGtOVGRrTW1RMk9HVmtOVEpoWVRjME5HWmxOelExTjJFMllqTTNZelptWkRReFpHVTFPR1ZpTXpneU1USXpNelptTjJRNFl6UXpNamc1WlRGaE5EVTRNVGhrTlRaa05UWmlNekF4TWpFeVpqazVZakV4TldGaE56WTBOall3WWpVeU9HTmtZVEE0TTJaaU1HWXdNbU13WlRCaQ=="
          ],
          "Content-Type": [
            "application/vnd.api+json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ],
          "Etag": [
            "W/\"9ffff18193054091f7c14eca593f5a22\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"id\":\"173\",\"type\":\"carts\",\"links\":{\"self\":\"/testing/v1/carts/173.json_api\"},\"attributes\":{\"meta_attributes\":{},\"updated_at\":\"2018-05-22T10:43:37Z\",\"created_at\":\"2018-05-22T10:43:37Z\",\"email\":\"\",\"channel\":\"web\",\"line_items_count\":1,\"shipping_total_discount\":0.0,\"shipping_discount_name\":null,\"free_shipping\":false,\"test\":false,\"sub_total\":11.0,\"tax\":0.0,\"total_discount\":0.0,\"total\":11.0,\"shipping_total\":0.0},\"relationships\":{\"line_items\":{\"links\":{\"self\":\"/testing/v1/carts/173/relationships/line_items.json_api\",\"related\":\"/testing/v1/carts/173/line_items.json_api\"},\"data\":[{\"type\":\"line_items\",\"id\":\"173\"}]},\"discount_summaries\":{\"links\":{\"self\":\"/testing/v1/carts/173/relationships/discount_summaries.json_api\",\"related\":\"/testing/v1/carts/173/discount_summaries.json_api\"},\"data\":[]},\"customer_account\":{\"links\":{\"self\":\"/testing/v1/carts/173/relationships/customer_account.json_api\",\"related\":\"/testing/v1/carts/173/customer_account.json_api\"},\"data\":null},\"billing_address\":{\"links\":{\"self\":\"/testing/v1/carts/173/relationships/billing_address.json_api\",\"related\":\"/testing/v1/carts/173/billing_address.json_api\"},\"data\":null},\"shipping_address\":{\"links\":{\"self\":\"/testing/v1/carts/173/relationships/shipping_address.json_api\",\"related\":\"/testing/v1/carts/173/shipping_address.json_api\"},\"data\":null},\"shipping_method\":{\"links\":{\"self\":\"/testing/v1/carts/173/relationships/shipping_method.json_api\",\"related\":\"/testing/v1/carts/173/shipping_method.json_api\"},\"data\":null},\"free_shipping_promotion\":{\"links\":{\"self\":\"/testing/v1/carts/173/relationships/free_shipping_promotion.json_api\",\"related\":\"/testing/v1/carts/173/free_shipping_promotion.json_api\"}},\"applied_promotions\":{\"links\":{\"self\":\"/testing/v1/carts/173/relationships/applied_promotions.json_api\",\"related\":\"/testing/v1/carts/173/applied_promotions.json_api\"}},\"available_shipping_methods\":{\"links\":{\"self\":\"/testing/v1/carts/173/relationships/available_shipping_methods.json_api\",\"related\":\"/testing/v1/carts/173/available_shipping_methods.json_api\"}},\"available_shipping_promotions\":{\"links\":{\"self\":\"/testing/v1/carts/173/relationships/available_shipping_promotions.json_api\",\"related\":\"/testing/v1/carts/173/available_shipping_promotions.json_api\"}},\"payment_transactions\":{\"links\":{\"self\":\"/testing/v1/carts/173/relationships/payment_transactions.json_api\",\"related\":\"/testing/v1/carts/173/payment_transactions.json_api\"}}}},\"included\":[{\"id\":\"173\",\"type\":\"line_items\",\"links\":{\"self\":\"/testing/v1/line_items/173.json_api\"},\"attributes\":{\"stock_available_level\":0,\"title\":\"Title for Test Variant f5fc70e8-7b57-4e32-a95f-364d9aded1f0\",\"unit_quantity\":2,\"item_type\":\"Variant\",\"item_id\":185,\"tax_rate\":0,\"order_status\":null,\"total\":11.0,\"total_discount\":0.0,\"tax\":0.0,\"sub_total\":11.0,\"unit_price\":5.5,\"gift\":false,\"container_id\":173},\"relationships\":{\"item\":{\"links\":{\"self\":\"/testing/v1/line_items/173/relationships/item.json_api\",\"related\":\"/testing/v1/line_items/173/item.json_api\"},\"data\":{\"type\":\"variants\",\"id\":\"185\"}},\"container\":{\"links\":{\"self\":\"/testing/v1/line_items/173/relationships/container.json_api\",\"related\":\"/testing/v1/line_items/173/container.json_api\"}},\"line_item_discounts\":{\"links\":{\"self\":\"/testing/v1/line_items/173/relationships/line_item_discounts.json_api\",\"related\":\"/testing/v1/line_items/173/line_item_discounts.json_api\"},\"data\":[]}}},{\"id\":\"185\",\"type\":\"variants\",\"links\":{\"self\":\"/testing/v1/variants/185.json_api\"},\"attributes\":{\"meta_attributes\":{},\"updated_at\":\"2018-05-22T10:43:37Z\",\"created_at\":\"2018-05-22T10:43:37Z\",\"deleted_at\":null,\"title\":\"Title for Test Variant f5fc70e8-7b57-4e32-a95f-364d9aded1f0\",\"description\":\"Description for Test Variant f5fc70e8-7b57-4e32-a95f-364d9aded1f0\",\"reference\":\"reference_for_test_variant_f5fc70e8-7b57-4e32-a95f-364d9aded1f0\",\"ewis_eligible\":false,\"expected_availability_date\":null,\"ordered_total\":0,\"position\":null,\"product_id\":220,\"sku\":\"sku_for_test_variant_f5fc70e8-7b57-4e32-a95f-364d9aded1f0\",\"stock_allocated_level\":0,\"stock_level\":0,\"tax_code\":null,\"stock_available_level\":0,\"has_assets\":false,\"price_includes_taxes\":false,\"available_to_browse\":false,\"available_to_order\":false,\"price\":5.5,\"current_price\":5.5,\"picture_url\":null},\"relationships\":{\"product\":{\"links\":{\"self\":\"/testing/v1/variants/185/relationships/product.json_api\",\"related\":\"/testing/v1/variants/185/product.json_api\"},\"data\":{\"type\":\"products\",\"id\":\"220\"}},\"asset_files\":{\"links\":{\"self\":\"/testing/v1/variants/185/relationships/asset_files.json_api\",\"related\":\"/testing/v1/variants/185/asset_files.json_api\"}},\"markdown_prices\":{\"links\":{\"self\":\"/testing/v1/variants/185/relationships/markdown_prices.json_api\",\"related\":\"/testing/v1/variants/185/markdown_prices.json_api\"}}}},{\"id\":\"220\",\"type\":\"products\",\"links\":{\"self\":\"/testing/v1/products/220.json_api\"},\"attributes\":{\"meta_attributes\":{},\"updated_at\":\"2018-05-22T10:43:36Z\",\"created_at\":\"2018-05-22T10:43:36Z\",\"deleted_at\":null,\"slug\":\"reference-for-product-1-for-variant-f5fc70e8-7b57-4e32-a95f-364d9aded1f0\",\"canonical_path\":\"/products/reference-for-product-1-for-variant-f5fc70e8-7b57-4e32-a95f-364d9aded1f0\",\"title\":\"Title for product 1 for variant f5fc70e8-7b57-4e32-a95f-364d9aded1f0\",\"reference\":\"reference for product 1 for variant f5fc70e8-7b57-4e32-a95f-364d9aded1f0\",\"description\":\"\",\"attribute_merchandising\":{},\"category_ids_cache\":[],\"content_type\":\"markdown\",\"merged_attribute_merchandising\":{},\"seo_meta_description\":\"\",\"seo_meta_keywords\":\"\",\"seo_meta_title\":\"\",\"rating\":0,\"total_ratings\":null,\"web_product_description\":\"\",\"web_product_name\":\"\",\"picture_url\":null,\"sellable\":true,\"available_to_browse\":false,\"merchandised\":false,\"published\":true,\"has_assets\":false,\"ewis_status\":\"not_ewis_eligible\",\"average_rating\":0.0,\"min_price\":5.5,\"max_price\":5.5,\"min_current_price\":5.5,\"max_current_price\":5.5},\"relationships\":{\"template_definition\":{\"links\":{\"self\":\"/testing/v1/products/220/relationships/template_definition.json_api\",\"related\":\"/testing/v1/products/220/template_definition.json_api\"}},\"template\":{\"links\":{\"self\":\"/testing/v1/products/220/relationships/template.json_api\",\"related\":\"/testing/v1/products/220/template.json_api\"}},\"variants\":{\"links\":{\"self\":\"/testing/v1/products/220/relationships/variants.json_api\",\"related\":\"/testing/v1/products/220/variants.json_api\"}},\"bundles\":{\"links\":{\"self\":\"/testing/v1/products/220/relationships/bundles.json_api\",\"related\":\"/testing/v1/products/220/bundles.json_api\"}},\"asset_files\":{\"links\":{\"self\":\"/testing/v1/products/220/relationships/asset_files.json_api\",\"related\":\"/testing/v1/products/220/asset_files.json_api\"}}}}],\"links\":{\"self\":\"/testing/v1/carts/173.json_api\"}}",
          "decoded": {
            "data": {
              "id": "173",
              "type": "carts",
              "links": {
                "self": "/testing/v1/carts/173.json_api"
              },
              "attributes": {
                "meta_attributes": {
                },
                "updated_at": "2018-05-22T10:43:37Z",
                "created_at": "2018-05-22T10:43:37Z",
                "email": "",
                "channel": "web",
                "line_items_count": 1,
                "shipp[...]
    {
      "request": {
        "method": "patch",
        "uri": "https://shift-platform-dev-api.global.ssl.fastly.net/testing/v1/carts/173.json_api",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"id\":\"173\",\"type\":\"carts\",\"attributes\":{\"shipping_method_id\":\"165\",\"shipping_address_id\":\"149\"}}}"
        },
        "headers": {
          "Authorization": [
            "Basic dGVzdGluZzpNaTlsTW1ZMk1qSTJNMkptT1RVM05ERm1ZelppTVRNMU5HRXdNRFF6TlRJM05tRmxaVE14TW1ZMllUSmxNekE0T0dWaU9HTmtZak5tWVdZMFltWTBNR1l5T0RRM01HVTNNV0V3WkdFeVpHRmhaakJrTjJFMk9HWXdNR001Wm1Wa056ZGxOVFUzWldNell6RmhPVEk0WWpoaU4yUTRaV1JtWldKa01ETTVZV1psWlRKaE1URTFORGcxT1RNM1lqaGtOVGRrTW1RMk9HVmtOVEpoWVRjME5HWmxOelExTjJFMllqTTNZelptWkRReFpHVTFPR1ZpTXpneU1USXpNelptTjJRNFl6UXpNamc1WlRGaE5EVTRNVGhrTlRaa05UWmlNekF4TWpFeVpq[...]
    {
      "request": {
        "method": "get",
        "uri": "https://shift-platform-dev-api.global.ssl.fastly.net/testing/v1/carts/173/available_shipping_promotions.json_api",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic dGVzdGluZzpNaTlsTW1ZMk1qSTJNMkptT1RVM05ERm1ZelppTVRNMU5HRXdNRFF6TlRJM05tRmxaVE14TW1ZMllUSmxNekE0T0dWaU9HTmtZak5tWVdZMFltWTBNR1l5T0RRM01HVTNNV0V3WkdFeVpHRmhaakJrTjJFMk9HWXdNR001Wm1Wa056ZGxOVFUzWldNell6RmhPVEk0WWpoaU4yUTRaV1JtWldKa01ETTVZV1psWlRKaE1URTFORGcxT1RNM1lqaGtOVGRrTW1RMk9HVmtOVEpoWVRjME5HWmxOelExTjJFMllqTTNZelptWkRReFpHVTFPR1ZpTXpneU1USXpNelptTjJRNFl6UXpNamc1WlRGaE5EVTRNVGhrTlRaa05UWmlNekF4TWpFeVpqazVZakV4TldGaE56WTBOall3WWpVeU9HTmtZVEE0TTJaaU1HWXdNbU13WlRCaQ=="
          ],
          "Content-Type": [
            "application/vnd.api+json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ],
          "Etag": [
            "W/\"3c1cec24837b72cf51879a7e2a4f1d7e\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"data\":[],\"meta\":{\"total_entries\":0,\"page_count\":0},\"links\":{\"self\":\"/testing/v1/carts/173/available_shipping_promotions.json_api\",\"first\":\"/testing/v1/carts/173/available_shipping_promotions.json_api?page%5Bnumber%5D=1&page%5Bsize%5D=25\",\"last\":\"/testing/v1/carts/173/available_shipping_promotions.json_api?page%5Bnumber%5D=1&page%5Bsize%5D=25\"}}",
          "decoded": {
            "data": [

            ],
            "meta": {
              "total_entries": 0,
              "page_count": 0
            },
            "links": {
              "self": "/testing/v1/carts/173/available_shipping_promotions.json_api",
              "first": "/testing/v1/carts/173/available_shipping_promotions.json_api?page%5Bnumber%5D=1&page%5Bsize%5D=25",
              "last": "/testing/v1/carts/173/available_shipping_promotions.json_api?page%5Bnumber%5D=1&page%5Bsize%5D=25"
            }
          }
        },
      },
      "recorded_at": "Tue, 22 May 2018 10:43:39 GMT"
    },
[...]
    {
      "request": {
        "method": "post",
        "uri": "https://shift-platform-dev-api.global.ssl.fastly.net/testing/v1/products.json_api",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"type\":\"products\",\"attributes\":{\"title\":\"Title for product 1 for variant 018ebef6-444c-408d-bc66-18f76e86fa8e\",\"reference\":\"reference for product 1 for variant 018ebef6-444c-408d-bc66-18f76e86fa8e\",\"content_type\":\"markdown\"}}}"
        },
        "headers": {
          "Authorization": [
            "Basic dGVzdGluZzpNaTlsTW1ZMk1qSTJNMkptT1RVM05ERm1ZelppTVRNMU5HRXdNRFF6TlRJM05tRmxaVE14TW1ZMllUSmxNekE0T0dWaU9HTmtZak5tWVdZMFltWTBNR1l5T0RRM01HVTNNV0V3WkdFeVpHRmhaakJrTjJFMk9HWXdNR001Wm1Wa056ZGxOVFUzWldNell6RmhPVEk0WWpoaU4yUTRaV1JtWldKa01ETTVZV1psWlRKaE1URTFORGcxT1RNM1lqaGtOVGRrTW1RMk9HVmtOVEpoWVRjME5HWmxOelExTjJFMllqTTNZelptWkRReFpHVTFPR1ZpTXpneU1USXpNelptTjJRNFl6UXpNamc1WlRGaE5EVTRNVGhrTlRaa05UWmlNekF4TWpFeVpqazVZakV4TldGaE56WTBOall3WWpVeU9HTmtZVEE0TTJaaU1HWXdNbU13WlRCaQ=="
          ],
          "Content-Type": [
            "application/vnd.api+json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 201,
          "message": "Created"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ],
          "Location": [
            "/testing/v1/products/226.json_api"
          ],
          "External-Surrogate-Key": [
            "testing%2Fproduct%2F226"
          ],
          "Etag": [
            "W/\"88685b92dff3ca73bfb516cdaa6cea22\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"data\":{\"id\":\"226\",\"type\":\"products\",\"links\":{\"self\":\"/testing/v1/products/226.json_api\"},\"attributes\":{\"meta_attributes\":{},\"updated_at\":\"2018-05-22T10:51:07Z\",\"created_at\":\"2018-05-22T10:51:07Z\",\"deleted_at\":null,\"slug\":\"reference-for-prod[...]
    {
      "request": {
        "method": "post",
        "uri": "https://shift-platform-dev-api.global.ssl.fastly.net/testing/v1/variants.json_api",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"type\":\"variants\",\"attributes\":{\"title\":\"Title for Test Variant 018ebef6-444c-408d-bc66-18f76e86fa8e\",\"description\":\"Description for Test Variant 018ebef6-444c-408d-bc66-18f76e86fa8e\",\"reference\":\"reference_for_test_variant_018ebef6-444c-408d-bc66-18f[...]
    {
      "request": {
        "method": "post",
        "uri": "https://shift-platform-dev-api.global.ssl.fastly.net/testing/v1/line_items.json_api",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"type\":\"line_items\",\"attributes\":{\"item_id\":\"191\",\"unit_quantity\":2,\"item_type\":\"Variant\"}}}"
        },
        "headers": {
          "Authorization": [
            "Basic dGVzdGluZzpNaTlsTW1ZMk1qSTJNMkptT1RVM05ERm1ZelppTVRNMU5HRXdNRFF6TlRJM05tRmxa[...]
[...]
    {
      "request": {
        "method": "post",
        "uri": "https://shift-platform-dev-api.global.ssl.fastly.net/testing/v1/shipping_methods.json_api",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"type\":\"shipping_methods\",\"attributes\":{\"reference\":\"testing_shipping_018ebef6-444c-408d-bc66-18f76e86fa8e\",\"sku\":\"test_shipping_018ebef6-444c-408d-bc66-18f76e86fa8e\",\"label\":\"Test Shipping Method\",\"total\":\"5.00\"}}}"
        },
        "headers": {
          "Authorization": [
            "Basic dGVzdGluZzpNaTlsTW1ZMk1qSTJNMkptT1RVM05ERm1ZelppTVRNMU5HRXdNRFF6TlRJM05tRmxaVE14TW1ZMllUSmxNekE0T0dWaU9HTmtZak5tWVdZMFltWTBNR1l5T0RRM01HVTNNV0V3WkdFeVpHRmhaakJrTjJFMk9HWXdNR001Wm1Wa056ZGxOVFUzWldNell6RmhPVEk0WWpoaU4yUTRaV1JtWldKa01ETTVZV1psWlRKaE1URTFORGcxT1RNM1lqaGtOVGRrTW1RMk9HVmtOVEpoWVRjME5HWmxOelExTjJFMllqTTNZelptWkRReFpHVTFPR1ZpTXpneU1USXpNelptTjJRNFl6UXpNamc1WlRG[...]
    {
      "request": {
        "method": "post",
        "uri": "https://shift-platform-dev-api.global.ssl.fastly.net/testing/v1/addresses.json_api",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"type\":\"addresses\",\"attributes\":{\"first_name\":\"First Name\",\"last_name\":\"Last name\",\"address_line_1\":\"Address line 1\",\"city\":\"Leeds\",\"country\":\"GB\",\"postcode\":\"LS10 1QN\"}}}"
        },
        "headers": {
          "Authorization": [
            "Basic dGVzdGluZzpNaTlsTW1ZMk1qSTJNMkptT1RVM05ERm1ZelppTVRNMU5HRXdNRFF6TlRJM05tRmxaVE14TW1ZMllUSmxNekE0T0dWaU9HTmtZak5tWVdZMFltWTBNR1l5T0RRM01HVTNNV0V3WkdFeVpHRmhaakJrTjJFMk9HWXdNR001Wm1Wa056ZGxOVFUzWldNell6RmhPVEk0WWpoaU4yUTRaV1JtWldKa01ETTVZV1psWlRKaE1URTFORGcxT1RNM1lqaGtOVGRrTW1RMk9HVmtOVEpoWVRjME5HWmxOelExTjJFMllqTTNZelptWkRReFpHVTFPR1ZpTXpneU1USXpNelptTjJRNFl6UXpNamc1WlRGaE5EVTRNVGhrTlRaa05UWmlNekF4TWpFeVpqazVZakV4TldGaE56WTBOall3WWpVeU9HTmtZVEE0TTJaaU1HWXdNbU13WlRCaQ=="
          ],
          "Content-Type": [
            "application/vnd.api+json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 201,
          "message": "Created"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ],
          "Location": [
            "/testing/v1/addresses/155.json_api"
          ],
          "Etag": [
            "W/\"d8430297dc1d6d0cfc4c2c208a6bee51\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"data\":{\"id\":\"155\",\"type\":\"addresses\",\"links\":{\"self\":\"/testing/v1/addresses/155.json_api\"},\"attributes\":{\"meta_attributes\":{},\"customer_account_id\":null,\"first_name\":\"First Name\",\"last_name\":\"Last name\",\"middle_names\":\"\",\"address_line_1\":\"Address line 1\",\"address_line_2\":\"\",\"address_line_3\":\"\",\"city\":\"Leeds\",\"state\":null,\"postcode\":\"LS10 1QN\",\"country\":\"GB\",\"preferred_shipping\":false,\"preferred_billing\":false},\"relationships\":{\"customer_account\":{\"links\":{\"self\":\"/testing/v1/addresses/155/relationships/customer_account.json_api\",\"related\":\"/testing/v1/addresses/155/customer_account.json_api\"}}}},\"links\":{\"self\":\"/testing/v1/addresses.json_api\"}}",
          "decoded": {
            "data": {
              "id": "155",
              "type": "addresses",
              "links": {
                "self": "/testing/v1/addresses/155.json_api"
              },
              "attrib[...]
[...]
