{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://shift-platform-uat-api.global.ssl.fastly.net/testing/v1/carts/212303.json_api",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic dGVzdGluZzpOeTgwTkdVd1pqTmpNRFkwTUdGak0yVm1NemxoWkRBMU5qZ3dNREl5WWpCa05EZGxOV1UxTnpCaVl6Y3pPV1l4TnpjMk1EbGhZbVJpWWpVelkyVmtZVE00TURsaU5EVXlNREl5TVRJeU1Ua3lPRE00Wm1VeFpqTXdNR0poWm1Vd1pEaGpPV0k1T0dZeFlXTmpaV00yWVdGaU9UQmtOMlV6TmpWallXTmhNalJqTTJZMlkyVTVaRGMxTVRrMU1UTmtNVFk0TXpVM01qVTBOelExTWpsbE0yTTNNamMxTlRjek1qazROemczTjJZek1qWTNZbVkxTlRKbVpUSTJZak0yT0RNM1lXSTBNbVEwT0dGaFpqVTJOVFl6TW1SaU5tSXlZbUl5TTJRd01tSTFORFZqWW1FM1pUY3lZemcyT1dRNU1qUTVZMkV5WTJReU1qZ3lNRFExTjJZNA=="
          ],
          "Content-Type": [
            "application/vnd.api+json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ],
          "Etag": [
            "W/\"01fe84b15201053e15a5c14f9768c1eb\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"id\":\"212303\",\"type\":\"carts\",\"links\":{\"self\":\"/testing/v1/carts/212303.json_api\"},\"attributes\":{\"meta_attributes\":{},\"updated_at\":\"2018-05-07T08:39:53Z\",\"created_at\":\"2018-05-07T08:39:53Z\",\"email\":\"\",\"channel\":\"web\",\"line_items_count\":1,\"shipping_total_discount\":0.0,\"shipping_discount_name\":null,\"free_shipping\":false,\"test\":false,\"sub_total\":11.0,\"tax\":0.0,\"total_discount\":0.0,\"total\":11.0,\"shipping_total\":0.0},\"relationships\":{\"line_items\":{\"links\":{\"self\":\"/testing/v1/carts/212303/relationships/line_items.json_api\",\"related\":\"/testing/v1/carts/212303/line_items.json_api\"},\"data\":[{\"type\":\"line_items\",\"id\":\"156012\"}]},\"discount_summaries\":{\"links\":{\"self\":\"/testing/v1/carts/212303/relationships/discount_summaries.json_api\",\"related\":\"/testing/v1/carts/212303/discount_summaries.json_api\"},\"data\":[]},\"customer_account\":{\"links\":{\"self\":\"/testing/v1/carts/212303/relationships/customer_account.json_api\",\"related\":\"/testing/v1/carts/212303/customer_account.json_api\"},\"data\":null},\"billing_address\":{\"links\":{\"self\":\"/testing/v1/carts/212303/relationships/billing_address.json_api\",\"related\":\"/testing/v1/carts/212303/billing_address.json_api\"},\"data\":null},\"shipping_address\":{\"links\":{\"self\":\"/testing/v1/carts/212303/relationships/shipping_address.json_api\",\"related\":\"/testing/v1/carts/212303/shipping_address.json_api\"},\"data\":null},\"shipping_method\":{\"links\":{\"self\":\"/testing/v1/carts/212303/relationships/shipping_method.json_api\",\"related\":\"/testing/v1/carts/212303/shipping_method.json_api\"},\"data\":null},\"free_shipping_promotion\":{\"links\":{\"self\":\"/testing/v1/carts/212303/relationships/free_shipping_promotion.json_api\",\"related\":\"/testing/v1/carts/212303/free_shipping_promotion.json_api\"}},\"applied_promotions\":{\"links\":{\"self\":\"/testing/v1/carts/212303/relationships/applied_promotions.json_api\",\"related\":\"/testing/v1/carts/212303/applied_promotions.json_api\"}},\"available_shipping_methods\":{\"links\":{\"self\":\"/testing/v1/carts/212303/relationships/available_shipping_methods.json_api\",\"related\":\"/testing/v1/carts/212303/available_shipping_methods.json_api\"}},\"available_shipping_promotions\":{\"links\":{\"self\":\"/testing/v1/carts/212303/relationships/available_shipping_promotions.json_api\",\"related\":\"/testing/v1/carts/212303/available_shipping_promotions.json_api\"}},\"payment_transactions\":{\"links\":{\"self\":\"/testing/v1/carts/212303/relationships/payment_transactions.json_api\",\"related\":\"/testing/v1/carts/212303/payment_transactions.json_api\"}}}},\"included\":[{\"id\":\"156012\",\"type\":\"line_items\",\"links\":{\"self\":\"/testing/v1/line_items/156012.json_api\"},\"attributes\":{\"stock_available_level\":0,\"title\":\"Title for Test Variant 79f0e895-e7f6-4682-b67f-01bdec12ddd6\",\"unit_quantity\":2,\"item_type\":\"Variant\",\"item_id\":247,\"tax_rate\":0,\"order_status\":null,\"total\":11.0,\"total_discount\":0.0,\"tax\":0.0,\"sub_total\":11.0,\"unit_price\":5.5,\"gift\":false,\"container_id\":212303},\"relationships\":{\"item\":{\"links\":{\"self\":\"/testing/v1/line_items/156012/relationships/item.json_api\",\"related\":\"/testing/v1/line_items/156012/item.json_api\"},\"data\":{\"type\":\"variants\",\"id\":\"247\"}},\"container\":{\"links\":{\"self\":\"/testing/v1/line_items/156012/relationships/container.json_api\",\"related\":\"/testing/v1/line_items/156012/container.json_api\"}},\"line_item_discounts\":{\"links\":{\"self\":\"/testing/v1/line_items/156012/relationships/line_item_discounts.json_api\",\"related\":\"/testing/v1/line_items/156012/line_item_discounts.json_api\"},\"data\":[]}}},{\"id\":\"247\",\"type\":\"variants\",\"links\":{\"self\":\"/testing/v1/variants/247.json_api\"},\"attributes\":{\"meta_attributes\":{},\"updated_at\":\"2018-05-07T08:39:52Z\",\"created_at\":\"2018-05-07T08:39:52Z\",\"deleted_at\":null,\"title\":\"Title for Test Variant 79f0e895-e7f6-4682-b67f-01bdec12ddd6\",\"description\":\"Description for Test Variant 79f0e895-e7f6-4682-b67f-01bdec12ddd6\",\"reference\":\"reference_for_test_variant_79f0e895-e7f6-4682-b67f-01bdec12ddd6\",\"ewis_eligible\":false,\"expected_availability_date\":null,\"ordered_total\":0,\"position\":null,\"product_id\":135,\"sku\":\"sku_for_test_variant_79f0e895-e7f6-4682-b67f-01bdec12ddd6\",\"stock_allocated_level\":0,\"stock_level\":0,\"tax_code\":null,\"stock_available_level\":0,\"has_assets\":false,\"price_includes_taxes\":false,\"available_to_browse\":false,\"available_to_order\":false,\"price\":5.5,\"current_price\":5.5,\"picture_url\":null},\"relationships\":{\"product\":{\"links\":{\"self\":\"/testing/v1/variants/247/relationships/product.json_api\",\"related\":\"/testing/v1/variants/247/product.json_api\"},\"data\":{\"type\":\"products\",\"id\":\"135\"}},\"asset_files\":{\"links\":{\"self\":\"/testing/v1/variants/247/relationships/asset_files.json_api\",\"related\":\"/testing/v1/variants/247/asset_files.json_api\"}},\"markdown_prices\":{\"links\":{\"self\":\"/testing/v1/variants/247/relationships/markdown_prices.json_api\",\"related\":\"/testing/v1/variants/247/markdown_prices.json_api\"}}}},{\"id\":\"135\",\"type\":\"products\",\"links\":{\"self\":\"/testing/v1/products/135.json_api\"},\"attributes\":{\"meta_attributes\":{},\"updated_at\":\"2018-05-07T08:39:51Z\",\"created_at\":\"2018-05-07T08:39:51Z\",\"deleted_at\":null,\"slug\":\"reference-for-product-1-for-variant-79f0e895-e7f6-4682-b67f-01bdec12ddd6\",\"canonical_path\":\"/products/reference-for-product-1-for-variant-79f0e895-e7f6-4682-b67f-01bdec12ddd6\",\"title\":\"Title for product 1 for variant 79f0e895-e7f6-4682-b67f-01bdec12ddd6\",\"reference\":\"reference for product 1 for variant 79f0e895-e7f6-4682-b67f-01bdec12ddd6\",\"description\":\"\",\"attribute_merchandising\":{},\"category_ids_cache\":[],\"content_type\":\"markdown\",\"merged_attribute_merchandising\":{},\"seo_meta_description\":\"\",\"seo_meta_keywords\":\"\",\"seo_meta_title\":\"\",\"rating\":0,\"total_ratings\":null,\"web_product_description\":\"\",\"web_product_name\":\"\",\"picture_url\":null,\"sellable\":true,\"available_to_browse\":false,\"merchandised\":false,\"published\":true,\"has_assets\":false,\"ewis_status\":\"not_ewis_eligible\",\"average_rating\":0.0,\"min_price\":5.5,\"max_price\":5.5,\"min_current_price\":5.5,\"max_current_price\":5.5},\"relationships\":{\"template_definition\":{\"links\":{\"self\":\"/testing/v1/products/135/relationships/template_definition.json_api\",\"related\":\"/testing/v1/products/135/template_definition.json_api\"}},\"template\":{\"links\":{\"self\":\"/testing/v1/products/135/relationships/template.json_api\",\"related\":\"/testing/v1/products/135/template.json_api\"}},\"variants\":{\"links\":{\"self\":\"/testing/v1/products/135/relationships/variants.json_api\",\"related\":\"/testing/v1/products/135/variants.json_api\"}},\"bundles\":{\"links\":{\"self\":\"/testing/v1/products/135/relationships/bundles.json_api\",\"related\":\"/testing/v1/products/135/bundles.json_api\"}},\"asset_files\":{\"links\":{\"self\":\"/testing/v1/products/135/relationships/asset_files.json_api\",\"related\":\"/testing/v1/products/135/asset_files.json_api\"}}}}],\"links\":{\"self\":\"/testing/v1/carts/212303.json_api\"}}",
          "decoded": {
            "data": {
              "id": "212303",
              "type": "carts",
              "links": {
                "self": "/testing/v1/carts/212303.json_api"
              },
              "attributes": {
                "meta_attributes": {
                },
                "updated_at": "2018-05-07T08:39:53Z",
                "created_at": "2018-05-07T08:39:53Z",
                "email": "",
                "channel": "web",
                "line_items_count": 1,
                [...]
[...]
    {
      "request": {
        "method": "post",
        "uri": "https://shift-platform-uat-api.global.ssl.fastly.net/testing/v1/products.json_api",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"type\":\"products\",\"attributes\":{\"title\":\"Title for product 1 for variant f2254f96-6ad7-4ea8-952c-2e0ed9eb3f8c\",\"reference\":\"reference for product 1 for variant f2254f96-6ad7-4ea8-952c-2e0ed9eb3f8c\",\"content_type\":\"markdown\"}}}"
        },
        "headers": {
          "Authorization": [
            "Basic dGVzdGluZzpOeTgwTkdVd1pqTmpNRFkwTUdGak0yVm1NemxoWkRBMU5qZ3dNREl5WWpCa05EZGxOV1UxTnpCaVl6Y3pPV1l4TnpjMk1EbGhZbVJpWWpVelkyVmtZVE00TURsaU5EVXlNREl5TVRJeU1Ua3lPRE00Wm1VeFpqTXdNR0poWm1Vd1pEaGpPV0k1T0dZeFlXTmpaV00yWVdGaU9UQmtOMlV6TmpWallXTmhNalJqTTJZMlkyVTVaRGMxTVRrMU1UTmtNVFk0TXpVM01qVTBOelExTWpsbE0yTTNNamMxTlRjek1qazROemczTjJZek1qWTNZbVkxTlRKbVpUSTJZak0yT0RNM1lXSTBNbVEwT0dGaFpqVTJOVFl6TW1SaU5tSXlZbUl5TTJRd01tSTFORFZqWW1FM1pUY3lZemcyT1dRNU1qUTVZMkV5WTJReU1qZ3lNRFExTjJZNA=="
          ],
          "Content-Type": [
            "application/vnd.api+json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 201,
          "message": "Created"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ],
          "Location": [
            "/testing/v1/products/165.json_api"
          ],
          "External-Surrogate-Key": [
            "testing%2Fproduct%2F165"
          ],
          "Etag": [
            "W/\"f45d0090610f54c2dc1e1d596a05ccc8\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"data\":{\"id\":\"165\",\"type\":\"products\",\"links\":{\"self\":\"/testing/v1/products/165.json_api\"},\"attributes\":{\"meta_attributes\":{},\"updated_at\":\"2018-05-07T09:22:39Z\",\"created_at\":\"2018-05-07T09:22:39Z\",\"deleted_at\":null,\"slug\":\"reference-for-prod[...]
    {
      "request": {
        "method": "post",
        "uri": "https://shift-platform-uat-api.global.ssl.fastly.net/testing/v1/variants.json_api",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"type\":\"variants\",\"attributes\":{\"title\":\"Title for Test Variant f2254f96-6ad7-4ea8-952c-2e0ed9eb3f8c\",\"description\":\"Description for Test Variant f2254f96-6ad7-4ea8-952c-2e0ed9eb3f8c\",\"reference\":\"reference_for_test_variant_f2254f96-6ad7-4ea8-952c-2e0[...]
    {
      "request": {
        "method": "post",
        "uri": "https://shift-platform-uat-api.global.ssl.fastly.net/testing/v1/line_items.json_api",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"type\":\"line_items\",\"attributes\":{\"item_id\":\"277\",\"unit_quantity\":2,\"item_type\":\"Variant\"}}}"
        },
        "headers": {
          "Authorization": [
            "Basic dGVzdGluZzpOeTgwTkdVd1pqTmpNRFkwTUdGak0yVm1NemxoWkRBMU5qZ3dNREl5WWpCa05EZGxO[...]
[...]
    {
      "request": {
        "method": "post",
        "uri": "https://shift-platform-uat-api.global.ssl.fastly.net/testing/v1/payment_transactions.json_api",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"type\":\"payment_transactions\",\"attributes\":{\"cart_id\":\"212333\",\"gateway_response\":{\"token\":\"fake_token\",\"transaction_id\":\"fake_payer_id\"},\"amount\":11.0,\"currency\":\"GBP\",\"transaction_type\":\"authorisation\",\"status\":\"success\",\"payment_gateway_reference\":\"paypal_express\"}}}"
        },
        "headers": {
          "Authorization": [
            "Basic dGVzdGluZzpOeTgwTkdVd1pqTmpNRFkwTUdGak0yVm1NemxoWkRBMU5qZ3dNREl5WWpCa05EZGxOV1UxTnpCaVl6Y3pPV1l4TnpjMk1EbGhZbVJpWWpVelkyVmtZVE00TURsaU5EVXlNREl5TVRJeU1Ua3lPRE00Wm1VeFpqTXdNR0poWm1Vd1pEaGpPV0k1T0dZeFlXTmpaV00yWVdGaU9UQmtOMlV6TmpWallXTmhNalJqTTJZMlkyVTVaRGMxTVRrMU1UTmtNVFk0TXpVM01qVTBOelExTWpsbE0yTTNNamMxTlRjek1qazROemczTjJZek1qWTNZbVkxTlRKbVpUSTJZak0yT0RNM1lXSTBNbVEwT0dGaFpqVTJOVFl6TW1SaU5tSXlZb[...]
    {
      "request": {
        "method": "post",
        "uri": "https://shift-platform-uat-api.global.ssl.fastly.net/testing/v1/payment_address_verifications.json_api",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"type\":\"payment_address_verifications\",\"attributes\":{\"transaction_id\":\"1967\",\"address\":{\"first_name\":\"Kayley1suffix\",\"last_name\":\"Schneider1suffix\",\"middle_names\":\"Deangelo1suffix\",\"address_line_1\":\"Adalberto Gateway\",\"address_line_2\":\"97563 Ward Meadow\",\"address_line_3\":\"Suite 428\",\"city\":\"Trompburgh\",\"state\":\"Massachusetts\",\"postcode\":\"37665\",\"country\":\"Sudan\",\"preferred_billing\":false,\"preferred_shipping\":false},\"email\":\"test@mydomain.com\"}}}"
        },
        "headers": {
          "Authorization": [
            "Basic dGVzdGluZzpOeTgwTkdVd1pqTmpNRFkwTUdGak0yVm1NemxoWkRBMU5qZ3dNREl5WWpCa05EZGxOV1UxTnpCaVl6Y3pPV1l4TnpjMk1EbGhZbVJpWWpVelkyVmtZVE00TURsaU5EVXlNREl5TVRJeU1Ua3lPRE00Wm1VeFpqTXdNR0poWm1Vd1pEaGpPV0k1T0dZeFlXTmpaV00yWVdGaU9UQmtOMlV6TmpWallXTmhNalJqTTJZMlkyVTVaRGMxTVRrMU1UTmtNVFk0TXpVM01qVTBOelExTWpsbE0yTTNNamMxTlRjek1qazROemczTjJZek1qWTNZbVkxTlRKbVpUSTJZak0yT0RNM1lXSTBNbVEwT0dGaFpqVTJOVFl6TW1SaU5tSXlZbUl5TTJRd01tSTFORFZqWW1FM1pUY3lZemcyT1dRNU1qUTVZMkV5WTJReU1qZ3lNRFExTjJZNA=="
          ],
          "Content-Type": [
            "application/vnd.api+json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 201,
          "message": "Created"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ],
          "Location": [
            "/testing/v1/payment_address_verifications/c7e0a0be-b714-4268-a126-17f5ad633c78.json_api"
          ],
          "Etag": [
            "W/\"e556cb82817d995fe92100c4bd845e7e\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"data\":{\"id\":\"c7e0a0be-b714-4268-a126-17f5ad633c78\",\"type\":\"payment_address_verifications\",\"links\":{\"self\":\"/testing/v1/payment_address_verifications/c7e0a0be-b714-4268-a126-17f5ad633c78.json_api\"},\"attributes\":{\"address_attributes\":null,\"transaction_id\":\"1967\",\"email\":\"test@mydomain.com\"}},\"meta\":{\"warnings\":[{\"title\":\"Param not allowed\",\"detail\":\"address is not allowed.\",\"code\":\"105\"}]},\"links\":{\"self\":\"/testing/v1/payment_address_verifications.json_api\"}}",
          "decoded": {
            "data": {
              "id": "c7e0a0be-b714-4268-a126-17f5ad633c78",
              "type": "payment_address_verifications",
              "links": {
                "self": "/testing/v1/payment_address_verifications/c7e0a0be-b714-4268-a126-17f5ad633c78.json_api"
              },
              "attributes": {
                "address_attributes": null,
                "transaction_id": "1967",
                "email": "test@mydomain.com"
              }
            },
            "meta": {
              "warnings": [
                {
                  "title": "Param not allowed",
                  "detail": "address is not allowed.",
                  "code": "105"
                }
              ]
            },
            "links": {
              "self": "/testing/v1/payment_address_verifications.json_api"
            }
          }
        },
      },
      "recorded_at": "Mon, 07 May 2018 09:22:42 GMT"
    }
  ],
  "recorded_with": "VCR 4.0.0"
}