{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://shift-platform-dev-api.global.ssl.fastly.net/testing/v1/carts.json_api",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"type\":\"carts\",\"attributes\":{\"billing_address_id\":\"170\",\"shipping_address_id\":\"170\",\"shipping_method_id\":\"185\",\"email\":\"test@test.com\",\"payment_transactions\":[\"#<FlexCommerce::PaymentTransaction:0x007fc5f5a90c00>\"]}}}"
        },
        "headers": {
          "Authorization": [
            "Basic dGVzdGluZzpNaTlsTW1ZMk1qSTJNMkptT1RVM05ERm1ZelppTVRNMU5HRXdNRFF6TlRJM05tRmxaVE14TW1ZMllUSmxNekE0T0dWaU9HTmtZak5tWVdZMFltWTBNR1l5T0RRM01HVTNNV0V3WkdFeVpHRmhaakJrTjJFMk9HWXdNR001Wm1Wa056ZGxOVFUzWldNell6RmhPVEk0WWpoaU4yUTRaV1JtWldKa01ETTVZV1psWlRKaE1URTFORGcxT1RNM1lqaGtOVGRrTW1RMk9HVmtOVEpoWVRjME5HWmxOelExTjJFMllqTTNZelptWkRReFpHVTFPR1ZpTXpneU1USXpNelptTjJRNFl6UXpNamc1WlRGaE5EVTRNVGhrTlRaa05UWmlNekF4TWpFeVpqazVZakV4TldGaE56WTBOall3WWpVeU9HTmtZVEE0TTJaaU1HWXdNbU13WlRCaQ=="
          ],
          "Content-Type": [
            "application/vnd.api+json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 500,
          "message": "Internal Server Error"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"errors\":[{\"detail\":\"Internal Server Error\",\"meta\":{\"exception\":\"no implicit conversion of nil into Hash\",\"backtrace\":[\"/app/vendor/bundle/ruby/2.5.0/gems/jsonapi-resources-0.9.0/lib/jsonapi/resource.rb:906:in `merge'\",\"/app/vendor/bundle/ruby/2.5.0/gems/jsonapi-resources-0.9.0/lib/jsonapi/resource.rb:906:in `_attribute_options'\",\"/app/vendor/bundle/ruby/2.5.0/gems/jsonapi-resources-0.9.0/lib/jsonapi/request_parser.rb:518:in `unformat_value'\",\"/app/vendor/bundle/ruby/2.5.0/gems/jsonapi-resources-0.9.0/lib/jsonapi/request_parser.rb:450:in `block (2 levels) in parse_params'\",\"/app/vendor/bundle/ruby/2.5.[...]
    {
      "request": {
        "method": "post",
        "uri": "https://shift-platform-dev-api.global.ssl.fastly.net/testing/v1/addresses.json_api",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"type\":\"addresses\",\"attributes\":{\"first_name\":\"Jordane1suffix\",\"last_name\":\"Grant1suffix\",\"middle_names\":\"Wayne1suffix\",\"address_line_1\":\"Pfeffer Garden\",\"address_line_2\":\"6627 Bode Burgs\",\"address_line_3\":\"Suite 120\",\"city\":\"Russelfort\",\"state\":\"Michigan\",\"postcode\":\"79073-4017\",\"country\":\"Bhutan\",\"preferred_billing\":false,\"preferred_shipping\":false}}}"
        },
        "headers": {
          "Authorization": [
            "Basic dGVzdGluZzpNaTlsTW1ZMk1qSTJNMkptT1RVM05ERm1ZelppTVRNMU5HRXdNRFF6TlRJM05tRmxaVE14TW1ZMllUSmxNekE0T0dWaU9HTmtZak5tWVdZMFltWTBNR1l5T0RRM01HVTNNV0V3WkdFeVpHRmhaakJrTjJFMk9HWXdNR001Wm1Wa056ZGxOVFUzWldNell6RmhPVEk0WWpoaU4yUTRaV1JtWldKa01ETTVZV1psWlRKaE1URTFORGcxT1RNM1lqaGtOVGRrTW1RMk9HVmtOVEpoWVRjME5HWmxOelExTjJFMllqTTNZelptWkRReFpHVTFPR1ZpTXpneU1USXpNelptTjJRNFl6UXpNamc1WlRGaE5EVTRNVGhrTlRaa05UWmlNekF4TWpFeVpqazVZakV4TldGaE56WTBOall3WWpVeU9HTmtZVEE0TTJaaU1HWXdNbU13WlRCaQ=="
          ],
          "Content-Type": [
            "application/vnd.api+json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 201,
          "message": "Created"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ],
          "Location": [
            "/testing/v1/addresses/174.json_api"
          ],
          "Etag": [
            "W/\"1bd1af4dbf069842fbfa4c71b2be580e\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"data\":{\"id\":\"174\",\"type\":\"addresses\",\"links\":{\"self\":\"/testing/v1/addresses/174.json_api\"},\"attributes\":{\"meta_attributes\":{},\"customer_account_id\":null,\"first_name\":\"Jordane1suffix\",\"last_name\":\"Grant1suffix\",\"middle_names\":\"Wayne1suffix\",\"address_line_1\":\"Pfeffer Garden\",\"address_line_2\":\"6627 Bode Burgs\",\"address_line_3\":\"Suite 120\",\"city\":\"Russelfort\",\"state\":\"Michigan\",\"postcode\":\"79073-4017\",\"country\":\"Bhutan\",\"preferred_shipping\":false,\"preferred_billing\":false},\"relationships\":{\"customer_account\":{\"links\":{\"self\":\"/testing/v1/addresses/174/relationships/customer_account.json_api\",\"related\":\"/testing/v1/addresses/174/customer_account.json_api\"}}}},\"links\":{\"self\":\"/testing/v1/addresses.json_api\"}}",
          "decoded": {
            "data": {
              "id": "174",
              "type": "addresses",
              "links": {
                "self": "/testing/v1/addresses/174.json_api"
              },
              "attributes": {
                "meta_attributes": {
                },
                "customer_account_id": null,
                "first_name": "Jordane1suffix",
                "last_name": "Grant1suffix",
                "middle_names": "Wayne1suffix",
                "address_line_1": "Pfeffer Garden",
                "address_line_2": "6627 Bode Burgs",
                "address_line_3": "Suite 120",
                "city": "Russelfort",
                "state": "Michigan",
                "postcode": "79073-4017",
                "country": "Bhutan",
                "preferred_shipping": false,
                "preferred_billing": false
              },
              "relationships": {
                "customer_account": {
                  "links": {
                    "self": "/testing/v1/addresses/174/relationships/customer_account.json_api",
                    "related": "/testing/v1/addresses/174/customer_account.json_api"
                  }
                }
              }
            },
            "links": {
              "self": "/testing/v1/addresses.json_api"
            }
          }
        },
      },
      "recorded_at": "Wed, 23 May 2018 10:13:37 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "https://shift-platform-dev-api.global.ssl.fastly.net/testing/v1/shipping_methods.json_api",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"type\":\"shipping_methods\",\"attributes\":{\"label\":\"Accusamus facilis dolorem et ullam sit.\",\"total\":35.53,\"tax_rate\":0.85,\"description\":\"Sed in odit magni repellat nesciunt.\",\"reference\":\"shipping_method_8875034544-23473000\"}}}"
        },
        "headers": {
          "Authorization": [
            "Basic dGVzdGluZzpNaTlsTW1ZMk1qSTJNMkptT1RVM05ERm1ZelppTVRNMU5HRXdNRFF6TlRJM05tRmxaVE14TW1ZMllUSmxNekE0T0dWaU9HTmtZak5tWVdZMFltWTBNR1l5T0RRM01HVTNNV0V3WkdFeVpHRmhaakJrTjJFMk9HWXdNR001Wm1Wa056ZGxOVFUzWldNell6RmhPVEk0WWpoaU4yUTRaV1JtWldKa01ETTVZV1psWlRKaE1URTFORGcxT1RNM1lqaGtOVGRrTW1RMk9HVmtOVEpoWVRjME5HWmxOelExTjJFMllqTTNZelptWkRReFpHVTFPR1ZpTXpneU1USXpNelptTjJRNFl6UXpNamc1WlRGaE5EVTRNVGhrTlRaa05UWmlNekF4TWpFeVpqazVZakV4TldGaE56WTBOall3WWpVeU9HTmtZVEE0TTJaaU1HWXdNbU13WlRCaQ=="
          ],
          "Content-Type": [
            "application/vnd.api+json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 201,
          "message": "Created"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ],
          "Location": [
            "/testing/v1/shipping_methods/189.json_api"
          ],
          "External-Surrogate-Key": [
            "testing%2Fshipping_method%2F189"
          ],
          "Etag": [
            "W/\"d79743755788c3a7632c12b8c8452cd9\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"data\":{\"id\":\"189\",\"type\":\"shipping_methods\",\"links\":{\"self\":\"/testing/v1/shipping_methods/189.json_api\"},\"attributes\":{\"meta_attributes\":{},\"updated_at\":\"2018-05-23T10:13:37Z\",\"created_at\":\"2018-05-23T10:13:37Z\",\"label\":\"Accusamus facilis dolorem et ullam sit.\",\"sku\":null,\"reference\":\"shipping_method_8875034544-23473000\",\"description\":\"Sed in odit magni repellat nesciunt.\",\"sub_total\":19.21,\"tax\":16.32,\"total\":35.53,\"tax_rate\":0.85}},\"links\":{\"self\":\"/testing/v1/shipping_methods.json_api\"}}",
          "decoded": {
            "data": {
              "id": "189",
              "type": "shipping_methods",
              "links": {
                "self": "/testing/v1/shipping_methods/189.json_api"
              },
              "attributes": {
                "meta_attributes": {
                },
                "updated_at": "2018-05-23T10:13:37Z",
                "created_at": "2018-05-23T10:13:37Z",
                "label": "Accusamus facilis dolorem et ullam sit.",
                "sku": null,
                "reference": "shipping_method_8875034544-23473000",
                "description": "Sed in odit magni repellat nesciunt.",
                "sub_total": 19.21,
                "tax": 16.32,
                "total": 35.53,
                "tax_rate": 0.85
              }
            },
            "links": {
              "self": "/testing/v1/shipping_methods.json_api"
            }
          }
        },
      },
      "recorded_at": "Wed, 23 May 2018 10:13:37 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "https://shift-platform-dev-api.global.ssl.fastly.net/testing/v1/payment_processes.json_api",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"type\":\"payment_processes\",\"attributes\":{\"reference\":\"paypal_express_test\"}}}"
        },
        "headers": {
          "Authorization": [
            "Basic dGVzdGluZzpNaTlsTW1ZMk1qSTJNMkptT1RVM05ERm1ZelppTVRNMU5HRXdNRFF6TlRJM05tRmxaVE14TW1ZMllUSmxNekE0T0dWaU9HTmtZak5tWVdZMFltWTBNR1l5T0RRM01HVTNNV0V3WkdFeVpHRmhaakJrTjJFMk9HWXdNR001Wm1Wa056ZGxOVFUzWldNell6RmhPVEk0WWpoaU4yUTRaV1JtWldKa01ETTVZV1psWlRKaE1URTFORGcxT1RNM1lqaGtOVGRrTW1RMk9HVmtOVEpoWVRjME5HWmxOelExTjJFMllqTTNZelptWkRReFpHVTFPR1ZpTXpneU1USXpNelptTjJRNFl6UXpNamc1WlRGaE5EVTRNVGhrTlRaa05UWmlNekF4TWpFeVpqazVZakV4TldGaE56WTBOall3WWpVeU9HTmtZVEE0TTJaaU1HWXdNbU13WlRCaQ=="
          ],
          "Content-Type": [
            "application/vnd.api+json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 422,
          "message": "Unprocessable Entity"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"errors\":[{\"title\":\"can't be blank\",\"detail\":\"cart_id - can't be blank\",\"code\":\"100\",\"source\":{\"pointer\":\"/data/attributes/cart_id\"},\"status\":\"422\"},{\"title\":\"can't be blank\",\"detail\":\"payment_gateway_reference - can't be blank\",\"code\":\"100\",\"source\":{\"pointer\":\"/data/attributes/payment_gateway_reference\"},\"status\":\"422\"}],\"meta\":{\"warnings\":[{\"title\":\"Param not allowed\",\"detail\":\"reference is not allowed.\",\"code\":\"105\"}]},\"links\":{\"self\":\"/testing/v1/payment_processes.json_api\"}}",
          "decoded": {
            "errors": [
              {
                "title": "can't be blank",
                "detail": "cart_id - can't be blank",
                "code": "100",
                "source": {
                  "pointer": "/data/attributes/cart_id"
                },
                "status": "422"
              },
              {
                "title": "can't be blank",
                "detail": "payment_gateway_reference - can't be blank",
                "code": "100",
                "source": {
                  "pointer": "/data/attributes/payment_gateway_reference"
                },
                "status": "422"
              }
            ],
            "meta": {
              "warnings": [
                {
                  "title": "Param not allowed",
                  "detail": "reference is not allowed.",
                  "code": "105"
                }
              ]
            },
            "links": {
              "self": "/testing/v1/payment_processes.json_api"
            }
          }
        },
      },
      "recorded_at": "Wed, 23 May 2018 10:32:56 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "https://shift-platform-dev-api.global.ssl.fastly.net/testing/v1/products.json_api",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"type\":\"products\",\"attributes\":{\"title\":\"Title for product 1 for variant 9874fcd1-5fd3-4d1a-88bd-534fefb74c6e\",\"reference\":\"reference for product 1 for variant 9874fcd1-5fd3-4d1a-88bd-534fefb74c6e\",\"content_type\":\"markdown\"}}}"
        },
        "headers": {
          "Authorization": [
            "Basic dGVzdGluZzpNaTlsTW1ZMk1qSTJNMkptT1RVM05ERm1ZelppTVRNMU5HRXdNRFF6TlRJM05tRmxaVE14TW1ZMllUSmxNekE0T0dWaU9HTmtZak5tWVdZMFltWTBNR1l5T0RRM01HVTNNV0V3WkdFeVpHRmhaakJrTjJFMk9HWXdNR001Wm1Wa056ZGxOVFUzWldNell6RmhPVEk0WWpoaU4yUTRaV1JtWldKa01ETTVZV1psWlRKaE1URTFORGcxT1RNM1lqaGtOVGRrTW1RMk9HVmtOVEpoWVRjME5HWmxOelExTjJFMllqTTNZelptWkRReFpHVTFPR1ZpTXpneU1USXpNelptTjJRNFl6UXpNamc1WlRGaE5EVTRNVGhrTlRaa05UWmlNekF4TWpFeVpqazVZakV4TldGaE56WTBOall3WWpVeU9HTmtZVEE0TTJaaU1HWXdNbU13WlRCaQ=="
          ],
          "Content-Type": [
            "application/vnd.api+json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 201,
          "message": "Created"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ],
          "Location": [
            "/testing/v1/products/231.json_api"
          ],
          "External-Surrogate-Key": [
            "testing%2Fproduct%2F231"
          ],
          "Etag": [
            "W/\"dc3f0e0bea7a6be6e79e2a5442a03bc2\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"data\":{\"id\":\"231\",\"type\":\"products\",\"links\":{\"self\":\"/testing/v1/products/231.json_api\"},\"attributes\":{\"meta_attributes\":{},\"updated_at\":\"2018-05-23T10:32:56Z\",\"created_at\":\"2018-05-23T10:32:56Z\",\"deleted_at\":null,\"slug\":\"reference-for-product-1-for-variant-9874fcd1-5fd3-4d1a-88bd-534fefb74c6e\",\"canonical_path\":\"/products/reference-for-product-1-for-variant-9874fcd1-5fd3-4d1a-88bd-534fefb74c6e\",\"title\":\"Title for product 1 for variant 9874fcd1-5fd3-4d1a-88bd-534fefb74c6e\",\"reference\":\"reference for product 1 for variant 9874fcd1-5fd3-4d1a-88bd-534fefb74c6e\",\"description\":\"\",\"attribute_merchandising\":{},\"category_ids_cache\":[],\"content_type\":\"markdown\",\"merged_attribute_merchandising\":{},\"seo_meta_description\":\"\",\"seo_meta_keywords\":\"\",\"seo_meta_title\":\"\",\"rating\":0,\"total_ratings\":null,\"web_product_description\":\"\",\"web_product_name\":\"\",\"picture_url\":null,\"sellable\":true,\"available_to_browse\":false,\"merchandised\":false,\"published\":true,\"has_assets\":false,\"ewis_status\":\"not_ewis_eligible\",\"average_rating\":0.0,\"min_price\":0.0,\"max_price\":0.0,\"min_current_price\":0.0,\"max_current_price\":0.0},\"relationships\":{\"template_definition\":{\"links\":{\"self\":\"/testing/v1/products/231/relationships/template_definition.json_api\",\"related\":\"/testing/v1/products/231/template_definition.json_api\"}},\"template\":{\"links\":{\"self\":\"/testing/v1/products/231/relationships/template.json_api\",\"related\":\"/testing/v1/products/231/template.json_api\"}},\"variants\":{\"links\":{\"self\":\"/testing/v1/products/231/relationships/variants.json_api\",\"related\":\"/testing/v1/products/231/variants.json_api\"}},\"bundles\":{\"links\":{\"self\":\"/testing/v1/products/231/relationships/bundles.json_api\",\"related\":\"/testing/v1/products/231/bundles.json_api\"}},\"asset_files\":{\"links\":{\"self\":\"/testing/v1/products/231/relationships/asset_files.json_api\",\"related\":\"/testing/v1/products/231/asset_files.json_api\"}}}},\"meta\":{\"facets\":[]}}",
          "decoded": {
            "data": {
              "id": "231",
              "type": "products",
              "links": {
                "self": "/testing/v1/products/231.json_api"
              },
              "attributes": {
                "meta_attributes": {
                },
                "updated_at": "2018-05-23T10:32:56Z",
                "created_at": "2018-05-23T10:32:56Z",
                "deleted_at": null,
                "slug": "reference-for-product-1-for-va[...]
    {
      "request": {
        "method": "post",
        "uri": "https://shift-platform-dev-api.global.ssl.fastly.net/testing/v1/variants.json_api",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"type\":\"variants\",\"attributes\":{\"title\":\"Title for Test Variant 9874fcd1-5fd3-4d1a-88bd-534fefb74c6e\",\"description\":\"Description for Test Variant 9874fcd1-5fd3-4d1a-88bd-534fefb74c6e\",\"reference\":\"reference_for_test_variant_9874fcd1-5fd3-4d1a-88bd-534fefb74c6e\",\"price\":5.5,\"price_includes_taxes\":false,\"sku\":\"sku_for_test_variant_9874fcd1-5fd3-4d1a-88bd-534fefb74c6e\",\"product_id\":\"231\"}}}"
        },
        "headers": {
          "Authorization": [
            "Basic dGVzdGluZzpNaTlsTW1ZMk1qSTJNMkptT1RVM05ERm1ZelppTVRNMU5HRXdNRFF6TlRJM05tRmxaVE14TW1ZMllUSmxNekE0T0dWaU9HTmtZak5tWVdZMFltWTBNR1l5T0RRM01HVTNNV0V3WkdFeVpHRmhaakJrTjJFMk9HWXdNR001Wm1Wa056ZGxOVFUzWldNell6RmhPVEk0WWpoaU4yUTRaV1JtWldKa01ETTVZV1psWlRKaE1URTFORGcxT1RNM1lqaGtOVGRrTW1RMk9HVmtOVEpoWVRjME5HWmxOelExTjJFMllqTTNZelptWkRReFpHVTFPR1ZpTXpneU1USXpNelptTjJRNFl6UXpNamc1WlRGaE5EVTRNVGhrTlRaa05UWmlNekF4TWpFeVpq[...]
    {
      "request": {
        "method": "post",
        "uri": "https://shift-platform-dev-api.global.ssl.fastly.net/testing/v1/line_items.json_api",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"type\":\"line_items\",\"attributes\":{\"item_id\":\"196\",\"unit_quantity\":2,\"item_type\":\"Variant\"}}}"
        },
        "headers": {
          "Authorization": [
            "Basic dGVzdGluZzpNaTlsTW1ZMk1qSTJNMkptT1RVM05ERm1ZelppTVRNMU5HRXdNRFF6TlRJM05tRmxaVE14TW1ZMllUSmxNekE0T0dWaU9HTmtZak5tWVdZMFltWTBNR1l5T0RRM01HVTNNV0V3WkdFeVpHRmhaakJrTjJFMk9HWXdNR001Wm1Wa056ZGxOVFUzWldNell6RmhPVEk0WWpoaU4yUTRaV1JtWldKa01ETTVZV1psWlRKaE1URTFORGcxT1RNM1lqaGtOVGRrTW1RMk9HVmtOVEpoWVRjME5HWmxOelExTjJFMllqTTNZelptWkRReFpHVTFPR1ZpTXpneU1USXpNelptTjJRNFl6UXpNamc1WlRGaE5EVTRNVGhrTlRaa05UWmlNekF4TWpFeVpqazVZakV4TldGaE56WTBOall3WWpVeU9HTmtZVEE0TTJaaU1HWXdNbU13WlRCaQ=="
          ],
          "Content-Type": [
            "application/vnd.api+json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 201,
          "message": "Created"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ],
          "Location": [
            "/testing/v1/line_items/184.json_api"
          ],
          "Etag": [
            "W/\"d365d60b51b444b4e47c62c999bc650f\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"data\":{\"id\":\"184\",\"type\":\"line_items\",\"links\":{\"self\":\"/testing/v1/line_items/184.json_api\"},\"attributes\":{\"stock_available_level\":0,\"title\":\"Title for Test Variant 9874fcd1-5fd3-4d1a-88bd-534fefb74c6e\",\"unit_quantity\":2,\"item_type\":\"Variant\",\"item_id\":196,\"tax_rate\":0,\"order_status\":null,\"total\":11.0,\"total_discount\":0.0,\"tax\":0.0,\"sub_total\":11.0,\"unit_price\":5.5,\"gift\":false,\"container_id\":184},\"relationships\":{\"item\":{\"links\":{\"self\":\"/testing/v1/line_items/184/relationships/item.json_api\",\"related\":\"/testing/v1/line_items/184/item.json_api\"}},\"container\":{\"links\":{\"self\":\"/testing/v1/line_items/184/relationships/container.json_api\",\"related\":\"/testing/v1/line_items/184/container.json_api\"}},\"line_item_discounts\":{\"links\":{\"self\":\"/testing/v1/line_items/184/relationships/line_item_discounts.json_api\",\"related\":\"/testing/v1/line_items/184/line_item_discounts.json_api\"}}}},\"links\":{\"self\":\"/testing/v1/line_items.json_api\"}}",
          "decoded": {
            "data": {
              "id": "184",
              "type": "line_items",
              "links": {
                "self": "/testing/v1/line_items/184.json_api"
              },
              "attributes": {
                "stock_avai[...]
    {
      "request": {
        "method": "get",
        "uri": "https://shift-platform-dev-api.global.ssl.fastly.net/testing/v1/carts/184.json_api",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic dGVzdGluZzpNaTlsTW1ZMk1qSTJNMkptT1RVM05ERm1ZelppTVRNMU5HRXdNRFF6TlRJM05tRmxaVE14TW1ZMllUSmxNekE0T0dWaU9HTmtZak5tWVdZMFltWTBNR1l5T0RRM01HVTNNV0V3WkdFeVpHRmhaakJrTjJFMk9HWXdNR001Wm1Wa056ZGxOVFUzWldNell6RmhPVEk0WWpoaU4yUTRaV1JtWldKa01ETTVZV1psWlRKaE1URTFORGcxT1RNM1lqaGtOVGRrTW1RMk9HVmtOVEpoWVRjME5HWmxOelExTjJFMllqTTNZelptWkRReFpHVTFPR1ZpTXpneU1USXpNelptTjJRNFl6UXpNamc1WlRGaE5EVTRNVGhrTlRaa05UWmlNekF4TWpFeVpqazVZakV4TldGaE56WTBOall3WWpVeU9HTmtZVEE0TTJaaU1HWXdNbU13WlRCaQ=="
          ],
          "Content-Type": [
            "application/vnd.api+json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ],
          "Etag": [
            "W/\"f83d78ee2e99e41c8f925bae73ea7737\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"id\":\"184\",\"type\":\"carts\",\"links\":{\"self\":\"/testing/v1/carts/184.json_api\"},\"attributes\":{\"meta_attributes\":{},\"updated_at\":\"2018-05-23T10:32:57Z\",\"created_at\":\"2018-05-23T10:32:57Z\",\"email\":\"\",\"channel\":\"web\",\"line_items_count\":1,\"shipping_total_discount\":0.0,\"shipping_discount_name\":null,\"free_shipping\":false,\"test\":false,\"sub_total\":11.0,\"tax\":0.0,\"total_discount\":0.0,\"total\":11.0,\"shipping_total\":0.0},\"relationships\":{\"line_items\":{\"links\":{\"self\":\"/testing/v1/carts/184/relationships/line_items.json_api\",\"related\":\"/testing/v1/carts/184/line_items.json_api\"},\"data\":[{\"type\":\"line_items\",\"id\":\"184\"}]},\"discount_summaries\":{\"links\":{\"self\":\"/testing/v1/carts/184/relationships/discount_summaries.json_api\",\"related\":\"/testing/v1/carts/184/discount_summaries.json_api\"},\"data\":[]},\"customer_account\":{\"links\":{\"self\":\"/testing/v1/carts/184/relationships/customer_account.json_api\",\"related\":\"/testing/v1/carts/184/customer_account.json_api\"},\"data\":null},\"billing_address\":{\"links\":{\"self\":\"/testing/v1/carts/184/relationships/billing_address.json_api\",\"related\":\"/testing/v1/carts/184/billing_address.json_api\"},\"data\":null},\"shipping_address\":{\"links\":{\"self\":\"/testing/v1/carts/184/relationships/shipping_address.json_api\",\"related\":\"/testing/v1/carts/184/shipping_address.json_api\"},\"data\":null},\"shipping_method\":{\"links\":{\"self\":\"/testing/v1/carts/184/relationships/shipping_method.json_api\",\"related\":\"/testing/v1/carts/184/shipping_method.json_api\"},\"data\":null},\"free_shipping_promotion\":{\"links\":{\"self\":\"/testing/v1/carts/184/relationships/free_shipping_promotion.json_api\",\"related\":\"/testing/v1/carts/184/free_shipping_promotion.json_api\"}},\"applied_promotions\":{\"links\":{\"self\":\"/testing/v1/carts/184/relationships/applied_promotions.json_api\",\"related\":\"/testing/v1/carts/184/applied_promotions.json_api\"}},\"available_shipping_methods\":{\"links\":{\"self\":\"/testing/v1/carts/184/relationships/available_shipping_methods.json_api\",\"related\":\"/testing/v1/carts/184/available_shipping_methods.json_api\"}},\"available_shipping_promotions\":{\"links\":{\"self\":\"/testing/v1/carts/184/relationships/available_shipping_promotions.json_api\",\"related\":\"/testing/v1/carts/184/available_shipping_promotions.json_api\"}},\"payment_transactions\":{\"links\":{\"self\":\"/testing/v1/carts/184/relationships/payment_transactions.json_api\",\"related\":\"/testing/v1/carts/184/payment_transactions.json_api\"}}}},\"included\":[{\"id\":\"184\",\"type\":\"line_items\",\"links\":{\"self\":\"/testing/v1/line_items/184.json_api\"},\"attributes\":{\"stock_available_level\":0,\"title\":\"Title for Test Variant 9874fcd1-5fd3-4d1a-88bd-534fefb74c6e\",\"unit_quantity\":2,\"item_type\":\"Variant\",\"item_id\":196,\"tax_rate\":0,\"order_status\":null,\"total\":11.0,\"total_discount\":0.0,\"tax\":0.0,\"sub_total\":11.0,\"unit_price\":5.5,\"gift\":false,\"container_id\":184},\"relationships\":{\"item\":{\"links\":{\"self\":\"/test[...]
    {
      "request": {
        "method": "post",
        "uri": "https://shift-platform-dev-api.global.ssl.fastly.net/testing/v1/payment_processes.json_api",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"type\":\"payment_processes\",\"attributes\":{\"payment_gateway_reference\":\"paypal_express_test\",\"cart_id\":\"184\",\"payment_gateway_response\":{\"anything\":\"goes\"}}}}"
        },
        "headers": {
          "Authorization": [
            "Basic dGVzdGluZzpNaTlsTW1ZMk1qSTJNMkptT1RVM05ERm1ZelppTVRNMU5HRXdNRFF6TlRJM05tRmxaVE14TW1ZMllUSmxNekE0T0dWaU9HTmtZak5tWVdZMFltWTBNR1l5T0RRM01HVTNNV0V3WkdFeVpHRmhaakJrTjJFMk9HWXdNR001Wm1Wa056ZGxOVFUzWldNell6RmhPVEk0WWpoaU4yUTRaV1JtWldKa01ETTVZV1psWlRKaE1URTFORGcxT1RNM1lqaGtOVGRrTW1RMk9HVmtOVEpoWVRjME5HWmxOelExTjJFMllqTTNZelptWkRReFpHVTFPR1ZpTXpneU1USXpNelptTjJRNFl6UXpNamc1WlRGaE5EVTRNVGhrTlRaa05UWmlNekF4TWpFeVpqazVZakV4TldGaE56WTBOall3WWpVeU9HTmtZVEE0TTJaaU1HWXdNbU13WlRCaQ=="
          ],
          "Content-Type": [
            "application/vnd.api+json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 201,
          "message": "Created"
        },
        "headers": {
          "Content-Type": [
            "application/vnd.api+json"
          ],
          "Location": [
            "/testing/v1/payment_processes/1.json_api"
          ],
          "External-Surrogate-Key": [
            "testing%2Fpayment_process%2F1"
          ],
          "Etag": [
            "W/\"0b31986234e447c6cc1247a05cd2f9b3\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"data\":{\"id\":\"1\",\"type\":\"payment_processes\",\"links\":{\"self\":\"/testing/v1/payment_processes/1.json_api\"},\"attributes\":{\"status\":\"queued\",\"cart_id\":184,\"order_id\":null,\"async\":false,\"progress_percent_complete\":0,\"progress_i18n_token\":\"queued\",\"validation_errors\":{},\"processing_errors\":[],\"retry_count\":0},\"relationships\":{\"order\":{\"links\":{\"self\":\"/testing/v1/payment_processes/1/relationships/order.json_api\",\"related\":\"/testing/v1/payment_processes/1/order.json_api\"}}}},\"links\":{\"self\":\"/testing/v1/payment_processes.json_api\"}}",
          "decoded": {
            "data": {
              "id": "1",
              "type": "payment_processes",
              "links": {
                "self": "/testing/v1/payment_processes/1.json_api"
              },
              "attributes": {
                "status": "queued",
                "cart_id": 184,
                "order_id": null,
                "async": false,
                "progress_percent_complete": 0,
                "progress_i18n_token": "queued",
                "validation_errors": {
                },
                "processing_errors": [

                ],
                "retry_count": 0
              },
              "relationships": {
                "order": {
                  "links": {
                    "self": "/testing/v1/payment_processes/1/relationships/order.json_api",
                    "related": "/testing/v1/payment_processes/1/order.json_api"
                  }
                }
              }
            },
            "links": {
              "self": "/testing/v1/payment_processes.json_api"
            }
          }
        },
      },
      "recorded_at": "Wed, 23 May 2018 10:32:58 GMT"
    }
  ],
  "recorded_with": "VCR 4.0.0"
}